@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: black;
    ---color-light: #fdfbfb;
    --color-shadow: #0000009d;
}

html {

    background-image: url("https://wallpaperaccess.com/full/2435550.png");
    background-repeat: no-repeat;
    background-size: cover;


}

.content {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: white;
}

.icon {
    margin: auto;
    border-radius: 50%;
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
   /*  box-shadow: 0px 7px 15px -6px var(--color-shadow);*/
}

.title {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    text-decoration: 1px 2px 2px solid;
    text-shadow: 1px 2px 2px var(--color-dark);
}

span {
    text-align: center;
    font-size: 13px;
    padding: 2px;
    color: black;
    font-weight: bold;
}

.links {
    margin: 50px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-past {
    margin: 1%;
    width: 50%;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 6px 6px 1px 0px rgb(138, 80, 128);
    text-align: center;
    text-decoration: none;
    background-color: #fdfbfb;
    color: var(--color-dark);
}

.links-past:hover {
    box-shadow: 6px 6px 1px 0px rgb(138, 80, 128);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 18px;
    color: var(--color-dark);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linktree-icon {
    width: 14px;
    padding-left: 5px;
}

@media screen and (max-width: 768px) {

    .icon {
        width: 130px;
    }

    .links-past {
        margin: 2%;
        width: 130%;
    }


}